[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/uni-william/ems-algashop-billing.git
	branch = main
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/uni-william/ems-algashop-ordering.git
	branch = main
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = https://github.com/uni-william/ems-algashop-product-catalog.git
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/uni-william/ems-algashop-docs.git
	branch = main
[submodule "template"]
	path = template
	url = https://github.com/uni-william/ems-algashop-template.git
	branch = main
[submodule "microservices/billing-scheduler"]
	path = microservices/billing-scheduler
	url = https://github.com/uni-william/ems-algashop-billing-scheduler.git
	branch = main
[submodule "microservices/authorization-server"]
	path = microservices/authorization-server
	url = https://github.com/uni-william/ems-algashop-authorization-server.git
[submodule "microservices/service-registry"]
	path = microservices/service-registry
	url = https://github.com/uni-william/ems-algashop-service-registry.git
	branch = main
[submodule "microservices/gateway-ecommerce"]
	path = microservices/gateway-ecommerce
	url = https://github.com/uni-william/ems-algashop-gateway-ecommerce.git
	branch = main
[submodule "microservices/gateway-admin"]
	path = microservices/gateway-admin
	url = https://github.com/uni-william/ems-algashop-gateway-admin.git
	branch = main
[submodule "apps/ecommerce"]
	path = apps/ecommerce
	url = https://github.com/uni-william/ems-algashop-ecommerce.git
[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/uni-william/ems-algashop-admin.git
